.member-body {
  .member-sidebar {
    .footer-item {
      position: relative;
      flex: 1; // Esto permitirá que los elementos tomen el mismo espacio
      border: 1px solid #d9d8d7;
      background-color: #f2f2f2;
      transition: background-color 0.3s;

      &:hover {
        background-color: #a68d77;
      }

      .footer-link {
        display: block; // Esto permitirá que el enlace ocupe todo el contenedor
        text-align: center; // Centrar el ícono y el texto
        padding: 5px 10px; // Espaciado interno
        position: relative;
        z-index: 1;
        color: inherit; // Tomar el color de su contenedor
        text-decoration: none; // Eliminar el subrayado
        transition: background-color 0.3s;
        &:hover {
          background-color: #d4bb9c; // Cambiar el color de fondo al pasar el mouse

          i.fas {
            box-shadow: 0px 1px 1px $color-1-grey;
            // Estilos para el ícono cuando se pasa el cursor sobre el enlace
            transform: scale(1.3); // Aumentar ligeramente el tamaño
          }
        }

        i.fas {
          // Estilos generales para el ícono
          font-size: 18px;
          transition: transform 0.3s; // Transición suave al escalar
        }

        .tooltip-text {
          display: none;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: rgba(0, 0, 0, 0.7);
          color: #ffffff;
          padding: 5px 10px;
          border-radius: 4px;
          white-space: nowrap;
          font-size: 0.8rem;
          pointer-events: none;

          &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 6px 6px 0;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
          }
        }

        &:hover .tooltip-text {
          display: block;
        }
      }
    }
  }
}
.carousel {
  .carousel-control-prev, .carousel-control-next {
    // Sombra para los contenedores de los botones
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    color: $color-1-purple;
    background-color: $color-1-purple;
    margin: auto;
    height: 50px; // Aumentado para más grosor
    width: 50px;  // Aumentado para más grosor
    background-size: 100%; // Asegurando que el background se ajuste al tamaño

    // Efecto de hover
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.1); // Aumenta ligeramente el tamaño al hacer hover
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }

  .carousel-inner {
    .carousel-item {
      height: 600px;
      
      @media (min-width: 320px) and (max-width: 480px) {
        height: 240px;
      }

      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        
        .img-fluid {
          width: 100%;  
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

