.public-body,
.global-body {
  $background-color: #d9d8d7;
  $text-color: #0d0000;
  $link-color: #a68d77;
  $btn-login-bg: #bfa688;
  $btn-signup-bg: $text-color;

  color: $text-color !important;

  .navbar {
    background-color: $background-color !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18) !important;

    &-toggler {
      background-color: rgba(0, 0, 0, 0.1);
      border-color: $link-color;
    }

    &-brand img {
      max-width: 100px;

      @media screen and (min-width: 768px) {
        max-width: 6em;
      }

      @media screen and (min-width: 1200px) {
        max-width: 7em;
      }
    }

    &-collapse {
      .navbar-nav .nav-link {
        color: #000 !important;
      }

      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
      }

      @media screen and (min-width: 1200px) {
        .navbar-nav .nav-link {
          padding: 0.2em 1em;
        }
      }
    }

    .nav-link {
      color: $link-color !important;

      &:hover {
        color: darken($link-color, 10%) !important;
      }
    }

    .btn-outline-primary {
      border-color: $btn-login-bg !important;
      color: $btn-login-bg !important;

      &:hover {
        background-color: $btn-login-bg !important;
        color: $text-color !important;
      }
    }

    .btn-primary {
      background-color: $btn-signup-bg !important;
      color: $background-color !important;

      &:hover {
        background-color: darken($btn-signup-bg, 10%) !important;
      }
    }

    .contact-info p,
    .contact-info a {
      color: $text-color !important;
    }
  }

  .navbar-nav {
    .nav-item {
      @media screen and (max-width: 767px) {
        border-top: 1px solid darken($background-color, 10%);

        &:last-child {
          border-bottom: 1px solid darken($background-color, 10%);
        }
      }
    }
  }

  .contact-info, .search-and-icons {
    @media screen and (max-width: 767px) {
      border-top: 1px solid darken($background-color, 10%);
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  .contact-info {
    @media screen and (max-width: 767px) {
      border-bottom: 1px solid darken($background-color, 10%);
    }

    p {
      justify-content: center;
      font-size: 0.8em;
      padding-right: 1em;
      color: #000 !important;
    }

    a {
      color: #000 !important;
      text-decoration: underline;
    }
  }

  .navbar form {
    input {
      border-radius: 0;

      &[type="search"] {
        height: 2em;
        background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 95%;

        &:focus {
          background: #fff;
          box-shadow: none;
        }
      }
    }

    @media screen and (min-width: 768px) {
      flex: 1;
    }
  }

  @media screen and (max-width: 767px) {
    .navbar {
      text-align: center;
    }

    .navbar-brand,
    .navbar-toggler,
    .search-and-icons,
    .contact-info {
      display: block;
      margin: 0 auto;
    }
    .navbar-toggler{
      background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") no-repeat 95%;
    }
  }

  @media screen and (min-width: 768px) {
    .search-and-icons,
    .contact-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

    .search-and-icons {
      width: 70%;
    }
  }
}

// background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");