$color-1-green: #4CD964;
$color-2-green: #39b54E;
$color-1-red: #ED1C24;
$color-2-red: #C1181E;
$color-1-blue: #00A8FF;
$color-2-blue: #0097E6;
$color-1-yellow: #FEA11D;
$color-2-yellow: #E06834;
$color-1-grey: #C0C0C0;
$color-2-grey: #949494;
$color-3-grey: #A7A7A7;
$color-4-grey: #DDE0E7;
$color-1-white: #FFFFFF;
$color-2-white: #F9F9F9;
$color-3-white: #EFF4F7;
$color-1-black: #000000;
$color-2-black: #424242;
$color-3-black: #212121;
$color-4-black: #1d1b31;
$color-1-purple: #a68d77;
$color-2-purple: #bfa688;
