<template name="member_sidebar">
	<div class="member-sidebar">
		<footer class="fixed-bottom bg-white border-top">
			<div class="d-flex justify-content-around">
				<div class="footer-item">
					<a href="/member/my-account" class="footer-link">
						<i class="icon fas fa-user"></i>
						<span class="tooltip-text">Inicio</span>
					</a>
				</div>
				<div class="footer-item">
					<a href="/member/edit-page" class="footer-link">
						<i class="fas fa-edit"></i>
						<span class="tooltip-text">Edit Page</span>
					</a>
				</div>
				<div class="footer-item">
					<a href="/member/reservations" class="footer-link">
						<i class="fas fa-book"></i>
						<span class="tooltip-text">Reservations</span>
					</a>
				</div>
				<div class="footer-item">
					<a href="/member/settings" class="footer-link">
						<i class="icon fas fa-cogs"></i>
						<span class="tooltip-text">Settings</span>
					</a>
				</div>
			</div>
		</footer>
	</div>
</template>
